/* PC,スマホ共通スタイル */
body{
  background-color: #ffffff;
  color: #000000;
  font-family: 'Noto Sans JP', sans-serif;
}

  /* 横幅設定 */
body {
  margin: 0 auto;
}

  /* ヘッダー */
#header-nav nav{
  max-width: 960px;
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home{
  border: 1px solid;
  padding: 2px 28px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 34px;
  margin-left: 20px;
}

.nav-menu a{
  font-weight: bold;
  font-size: 34px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

/* メインビジュアル */
.main-visual img{
  width: 100%;
}


/* About */

section{
  max-width: 960px;
  margin: 0 auto;
}

h1{
  text-align: center;
  font-size: 34px;
  padding-top: 60px;
  padding-bottom: 40px;
  font-weight: bold;
}

.profile{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
  padding: 10px;
}

.profile img{
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 3px solid #999;
  padding: 3px;
  object-fit: cover;
  margin: 0 auto;
}

.content1{
  margin: 0 auto;
  padding-left: 40px;
}

.name{
  font-size: 24px;
  font-weight: bold;
}

.content1 ul li{
font-size: 18px;
}

/* Works */

.wrap{
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.wrap div{
  width: 25%;
  padding-bottom: 60px;
}

.wrap div img{
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.wrap div:nth-child(2){
  margin: 0 20px;
}

.wrap div p{
  font-size: 18px;
}


/* フッター */
footer{
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
}



/* スマートフォン用スタイル */
@media screen and (max-width: 767px){

.wrap div{
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}



}